<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element text-center">
                    <span class="text-muted text-xs block">Welcome </span>
                    <span class="block m-t-xs"> <strong class="font-bold">{{ full_name }}</strong> </span>
                </div>
                <div class="logo-element">
                    ND
                </div>
            </li>
            <li [ngClass]="{active: activeRoute('home')}">
                <a [routerLink]="['home']"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('buy')}">
                    <a [routerLink]="['buy']"><i class="fa fa-dollar"></i> <span class="nav-label">Buy / Invest</span></a>
                </li>
            <!-- <li [ngClass]="{active: activeRoute('my-erc721')}">
                <a [routerLink]="['my-erc721']"><i class="fa fa-circle-o"></i> <span class="nav-label">My Tokens</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('receipts')}">
                <a [routerLink]="['receipts']"><i class="fa fa-list-alt"></i> <span class="nav-label">Receipts</span></a>
            </li> -->
        </ul>
      
    </div>
</nav>
      