<div class="wrapper-content row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h5>Assets Value</h5>
                            <h2>&euro;{{ total_own_node }}</h2>
                            <div id="sparkline3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h5>Dividends</h5>
                            <h2>&euro;{{ total_earnings | number : '1.2' }}</h2>
                            <div id="sparkline1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h5>Annual Return</h5>
                            <h2>20%</h2>
                            <div id="sparkline2"></div>
                        </div>
                    </div>
                </div>
                <style>
                    .display_chart {
                        display: none !important;
                    }
                </style>
                <div class="col-xs-12 col-sm-8">
                    <div class="col-xs-12">
                        <h2 class="text-center">Asset Performance</h2>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#wagerr-tab" data-toggle="tab">Wagerr</a>
                            </li>
                            <li>
                                <a href="#tezos-tab" data-toggle="tab">Tezos</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="wagerr-tab" class="tab-pane active">
                            <h3 class="text-center">Wagerr Performance</h3>
                            <div id="morris-one-line-chart1"></div>
                        </div>
                        <div id="tezos-tab" class="tab-pane">
                            <h3 class="text-center">Tezos Performance</h3>
                            <div id="morris-one-line-chart2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div id="morris-donut"></div>
                </div>
                <div class="ibox">
                    <div class="ibox-content row">
                        <div class="m-b">
                            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                                <h2 class="text-center">Recent Transactions</h2>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Node</th>
                                            <th>Daily Dividend</th>
                                            <th>Incoming Transaction at</th>
                                            <th>Withdraw at</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let history_reward of history_rewards">
                                            <tr>
                                                <td>{{ history_reward.title }}</td>
                                                <td>&euro;{{ history_reward.amount }}</td>
                                                <td>{{ history_reward.paid_at | date: 'MMM d, y, h:mm:ss a' }}</td>
                                                <td>
                                                    <ng-container *ngIf="history_reward.withdrawl_at">
                                                        {{ history_reward.withdrawl_at | date: 'MMM d, y, h:mm:ss a' }}
                                                    </ng-container>    
                                                    <ng-container *ngIf="!history_reward.withdrawl_at">
                                                        -
                                                    </ng-container>    
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                                <ng-container *ngIf="available_withdrawl">
                                    <div class="col-xs-12 text-center">
                                        <button class="btn btn-info" (click)="withdraw()">Withdraw</button>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="ethereum_link">
                                    <div class="text-center"><a href="https://ropsten.etherscan.io/address/0xB23834B2A3074DCc5dD253581d87968B0138b43c" target="_blank">Check Transaction</a></div>    
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>